.top-navbar {
    height: 36px;
    padding: 0 55px 0 28px;
    border-bottom: 1px solid #dee2e6;
}

.div-left-content {
    height: 100%;
}

.div-join-us {
    padding-right: 32px;
    height: 100%;
    border-right: 1px solid #dee2e6;
    display: flex;
    align-items: center;
}

.div-cc {
    height: 100%;
    padding-left: 29px;
    padding-right: 30px;
    display: flex;
    align-items: center;
    border-right: 1px solid #dee2e6;
}

.company-name {
    color: #A7A7A7;
    font-family: 'Black Han Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    padding-left: 30px;
    padding-right: 20px;
}

.div-company {
    height: 100%;
    border-right: 1px solid #dee2e6;
    display: flex;
    align-items: center;
}