body {
  font-family: 'Roboto Condensed', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-container {
  /* padding-left: 55px;
  padding-right: 55px; */
  padding-top: 130px;
}

@media screen and (max-width: 767px) {
  .col-projects {
    margin-top: 35px;
  }

  .title-first-project {
    margin-top: 5px !important;
  }
}

@media screen and (max-width: 991px) {
  .col-contact {
    display: none;
  }

  div.col-12.col-sm-12.col-md-12.pl-0.pr-0 > div.div-content-contact.pb-5 {
    padding-bottom: 25px !important;
  }

  .second-container {
    justify-content: center !important;
    padding-left: 0px !important;
    align-items: center !important;
    border-left: 0 !important;
    padding-top: 25px !important;
    margin-top: 0 !important;
  }
}

@media screen and (max-width: 900px) {
  .gradient, .gradient-2 {
    display: none !important;
  }

  .row-service-image {
    display: none !important;
  }
  
  /* .first-image {
    transform: translate(0.5%, 0) !important;
  }

  .second-image {
    transform: translate(0.5%, 50%) !important;
  } */
}

@media screen and (min-width: 901px) {
  .div-container-mobile {
    display: none;
  }

  .row-services-mobile {
    display: none;
  }
  /* .first-image {
    transform: translate(0.5%, 0) !important;
  }

  .second-image {
    transform: translate(0.5%, 50%) !important;
  } */
}


@media screen and (min-width: 901px) and (max-width: 1000px) {
}

@media screen and (min-width: 1001px) and (max-width: 1100px) {
  .first-image {
    transform: translate(45%, 10%) !important;
  }

  .second-image {
    transform: translate(15%, 25%) !important;
  }
}

@media screen and (min-width: 1101px) and (max-width: 1200px) {
  .first-image {
    transform: translate(55%, 10%) !important;
  }

  .second-image {
    transform: translate(25%, 25%) !important;
  }
}

@media screen and (min-width: 1201px) and (max-width: 1400px) {
  .first-image {
    transform: translate(65%, 10%) !important;
  }

  .second-image {
    transform: translate(35%, 25%) !important;
  }
}



/* @media screen and (min-width: 1201px) and (max-width: 1300px) {
  .first-image {
    transform: translate(65%, 10%) !important;
  }

  .second-image {
    transform: translate(35%, 25%) !important;
  }
} */